$bg-color: rgb(16, 33, 52);
$text-color: #000000;

body.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: $bg-color;
  color: $text-color;
  overflow-x: hidden;
}

.body {
  font-size: 16px;
  font-family: monospace;
  color: rgb(0, 0, 0);
}

.search-container {
  position:absolute;
  top: 30px;
  right: 70px;
}

.search-input {
  padding: 7px 15px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s;
}

.search-input:focus {
    background-color: rgb(236, 236, 236);
}

.search-button {
  padding: 10px 20px;
  background-color: #21262b;
  color: white;
  border: none;
  border-radius: 0 2px 20px 0;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #818181;
}

.calc {
  display: inline-block;
  position:absolute;
  top:200px;
  right: 290px;
  border: #fdffec;
  cursor: pointer;
  transition: filter 0.2s;
}

.calc:hover {
  filter: brightness(1.2); 
  border-radius: 8px;
  filter: drop-shadow(0 0 20px #38add4);
}


.myCustomLink {
  position:relative;
  top: 590px;
  left: 460px;
  color: #ffffff; 
  font-size: 52px; 
  text-decoration: none;
  font-family:'Trebuchet MS';
  &:hover {
    color: #69b6ff; 
  }

  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.myCustomLink1 {
  position:relative;
  top: 530px;
  left: 1230px;
  color: #ffffff;
  font-size: 52px; 
  text-decoration: none; 
  font-family: "Trebuchet MS";

  &:hover {
    color: #69b6ff;  
  }

  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.header {
  position: absolute;
  top: 0px;
  right: 0px;
}

.bubbleBottom {
  position:absolute;
  top: 10px;
  left: 10px;

  animation: smoothFloat 120s ease-in-out infinite;
    animation-timing-function: linear; 
} 

@keyframes smoothFloat {
  0% {
    transform: translate(0, 7) rotate(0deg);
  }
  50% {
    transform: translate(-700px, -50px) rotate(-3deg); /* Влево и еще выше */
  }
  100% {
    transform: translate(0, 0) rotate(0deg);        /* Плавный возврат обратно */
  }
}

.bubbleTop {
  position:absolute;
  bottom: 30px;
  left:870px;
  display: 'block';
  width: 1500px;

    animation: smoothFloat 100s ease-in-out infinite;
    animation-timing-function: linear; 
}

@keyframes smoothFloat {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-700px, -50px) rotate(-3deg); 
  }
  100% {
    transform: translate(0, 0) rotate(0deg);      
  }
}

.line {
  position:absolute;
  top: 170px;
  left: 230px;
    /* начальное состояние: картинка полностью скрыта сверху */
  clip-path: inset(0 0 100% 0);
  
  /* имя анимации, длительность (2s) и задержка (0.5s) */
  animation: revealDown 2s ease forwards 0.5s;
}

@keyframes revealDown {
  to {
    /* финальное состояние: картинка полностью открыта */
    clip-path: inset(0 0 0 0);
  }
}

.main-text {
    font-size: 29px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #ffffff;
    position:absolute;
    top: 200px;
    left: 350px;

  opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); /* Возврат на исходное место */
  }
}

.main-text-color {
    font-size: 29px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #cee5fd;
    position:absolute;
    top:310px;
    left:350px;

  opacity: 0;
  transform: translateY(-20px);

  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.normal-text {
    font-size: 24px;
    font-family: 'Verdana';
    color: #cce5ff;
    position:absolute;
    top: 30px;
    left: 80px;
}

.normal-text2 {
    font-size: 20px;
    font-family: 'Verdana';
    color: #3c536d;
    position:absolute;
    top: 1400px;
    left: 80px;
}

.table_ {
  position:absolute;
  top: 560px;
  left: 130px;
}

.base-part-description {
    font-size: 36px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 660px;
    left: 320px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.profile-part-description{
    font-size: 36px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 660px;
    left: 1100px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.base-part-notes{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #ffffff;
    position:absolute;
    top: 790px;
    left: 320px;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.profile-part-notes{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #ffffff;
    position:absolute;
    top: 790px;
    left: 1100px;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.try-now-text {
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 1100px;
    left: 320px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}

.try-now-text2 {
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 1100px;
    left: 1100px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}

/*.container-calculator{
  position: relative;
  width: 100%;
  max-width: 1200px;
  background-color: #4CAF50;
 
}

.up-calculator-line {
  position: absolute;
  color:#fa580d;
  font-family: 'Courier New', Courier, monospace;
  top: 500px;
  left:800px;
  transform: scale(4);
  
}

.down-calculator-line {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  top: 600px;
  left: 800px;
  transform: scale(4);
}

.calculator-input {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  top: 700px;
  left:800px;
  transform: scale(4);
}

.calculator-answer {
  color: #69b6ff;
  position: absolute;    
  font-family: 'Courier New', Courier, monospace; 
  top: 350px;  
  left: 500px;     
  transform: scale(10);           
} */

/* Основной контейнер */
.container-calculator {
  background-color: #1c1c1e;
  padding: 20px;
  border-radius: 20px;
  width: 900px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  top:250px;
  position: absolute;
  left:450px;
}

/* Экран ответа */
.calculator-answer {
  color: #ffffff;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px;
  min-height: 40px;
  font-size: 90px;
}

/* Сетки для кнопок */
.up-calculator-line, .down-calculator-line {
  display: block;
  grid-template-columns: repeat(5, 2fr); /* Делаем ровную сетку по 4 кнопки */
  width:800px;
  gap: 10px;
  margin-bottom: 10px;
}

/* Общие стили для всех кнопок */
.calc-btn {
  border: none;
  border-radius: 50%; /* Круглые кнопки */
  height: 80px;
  width: 80px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calc-btn:hover {
  filter: brightness(1.2); /* Эффект при наведении */
}

/* ПОКРАСКА ПО КАТЕГОРИЯМ */

/* Цифры - светло-серые */
.btn-digit {
  background-color: white;
  color: rgb(0, 153, 255);
}

/* Скобки - темно-серые */
.btn-bracket {
  background-color:rgb(85, 104, 116);
  color: rgb(255, 255, 255);
}

/* Операторы (+, -, *, /) - оранжевые */
.btn-operator {
  background-color:rgb(85, 104, 116);
  color: rgb(255, 255, 255);
}

/* Кнопка ввода/равно - зеленая */
.btn-equal {
  background-color: #52868a;
  color: white;
  border-radius: 10px; /* Делаем её чуть прямоугольной для инпута */
  height: 40px;
  width: 50px;
}

/* Поле ввода */
.calculator-input {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.calculator-input input {
  flex: 1;
  background-color: #2c2c2e;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
}

