$bg-color: rgb(16, 33, 52);
$text-color: #000000;

body.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: $bg-color;
  color: $text-color;
  overflow-x: hidden;
}

.body {
  font-size: 16px;
  font-family: monospace;
  color: rgb(0, 0, 0);
}

/* Контейнер для выравнивания */
.search-container {
  position:absolute;
  top: 30px;
  right: 70px;
}

/* Стилизация самого поля ввода */
.search-input {
  padding: 7px 15px;
  width: 300px;
  border: 2px solid #ccc;
  /* Рамка */
  border-radius: 20px 0 0 20px;
  /* Скругление слева */
  outline: none;
  /* Убрать стандартную обводку */
  font-size: 16px;
  transition: all 0.3s;
}

/* Эффект при фокусе */
.search-input:focus {
    background-color: rgb(236, 236, 236);
  /* Цвет при клике */;
}

/* Стилизация кнопки */
.search-button {
  padding: 10px 20px;
  background-color: #21262b;
  /* Цвет фона */
  color: white;
  border: none;
  border-radius: 0 2px 20px 0;
  /* Скругление справа */
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #818181;
  /* Цвет при наведении */;
}

.calc {
  display: inline-block;
  position:absolute;
  top:200px;
  right: 290px;
  border: #fdffec;
  cursor: pointer;
  transition: filter 0.2s;
}

.calc:hover {
  filter: brightness(1.2); 
  border-radius: 8px;
  filter: drop-shadow(0 0 20px #38add4);
}


.myCustomLink {
  position:relative;
  top: 600px;
  left: 460px;
  color: #ffffff; 
  font-size: 52px; 
  text-decoration: none;
  font-family:'Trebuchet MS';
  &:hover {
    color: #69b6ff; 
  }

  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.myCustomLink1 {
  position:relative;
  top: 540px;
  left: 1230px;
  color: #ffffff;
  font-size: 52px; 
  text-decoration: none; 
  font-family: "Trebuchet MS";

  &:hover {
    color: #69b6ff;  
  }

  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.header {
  position: absolute;
  top: 0px;
  right: 0px;
}

.bubbleBottom {
  position:absolute;
  top: 10px;
  left: 10px;

  animation: smoothFloat 120s ease-in-out infinite;
    animation-timing-function: linear; 
} 

/* 3. Траектория автоматического движения */
@keyframes smoothFloat {
  0% {
    transform: translate(0, 7) rotate(0deg);
  }
  50% {
    transform: translate(-700px, -50px) rotate(-3deg); /* Влево и еще выше */
  }
  100% {
    transform: translate(0, 0) rotate(0deg);        /* Плавный возврат обратно */
  }
}

.bubbleTop {
  position:absolute;
  bottom: 30px;
  left:870px;
  display: 'block';
  width: 1500px;

    animation: smoothFloat 100s ease-in-out infinite;
    animation-timing-function: linear; 
}

/* 3. Траектория автоматического движения */
@keyframes smoothFloat {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-700px, -50px) rotate(-3deg); /* Влево и еще выше */
  }
  100% {
    transform: translate(0, 0) rotate(0deg);        /* Плавный возврат обратно */
  }
}

.line {
  position:absolute;
  top: 170px;
  left: 230px;
    /* Начальное состояние: картинка полностью скрыта сверху */
  clip-path: inset(0 0 100% 0);
  
  /* Имя анимации, длительность (2s) и задержка (0.5s) */
  animation: revealDown 2s ease forwards 0.5s;
}

@keyframes revealDown {
  to {
    /* Финальное состояние: картинка полностью открыта */
    clip-path: inset(0 0 0 0);
  }
}

.main-text {
    font-size: 29px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #ffffff;
    position:absolute;
    top: 200px;
    left: 350px;

      /* Начальное состояние: прозрачный и смещен на 20px вверх */
  opacity: 0;
  transform: translateY(-20px);
  
  /* Анимация: 1.5 секунды, плавный старт/конец, фиксация результата */
  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); /* Возврат на исходное место */
  }
}

.main-text-color {
    font-size: 29px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #cee5fd;
    position:absolute;
    top:310px;
    left:350px;

          /* Начальное состояние: прозрачный и смещен на 20px вверх */
  opacity: 0;
  transform: translateY(-20px);
  
  /* Анимация: 1.5 секунды, плавный старт/конец, фиксация результата */
  animation: textAppear 1.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); /* Возврат на исходное место */
  }
}

.normal-text {
    font-size: 24px;
    font-family: 'Verdana';
    color: #cce5ff;
    position:absolute;
    top: 30px;
    left: 80px;
}

.normal-text2 {
    font-size: 20px;
    font-family: 'Verdana';
    color: #3c536d;
    position:absolute;
    top: 1400px;
    left: 80px;
}

.table_ {
  position:absolute;
  top: 560px;
  left: 130px;
}

.base-part-description {
    font-size: 36px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 660px;
    left: 320px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.profile-part-description{
    font-size: 36px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 660px;
    left: 1100px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.base-part-notes{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #ffffff;
    position:absolute;
    top: 790px;
    left: 320px;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.profile-part-notes{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #ffffff;
    position:absolute;
    top: 790px;
    left: 1100px;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.5s ease forwards;
}

@keyframes textAppear {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.try-now-text {
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 1100px;
    left: 320px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}

.try-now-text2 {
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    font-family: "Trebuchet MS";
    color: #cee5fd;
    position:absolute;
    top: 1100px;
    left: 1100px;
    text-align: center;

      opacity: 0;
  transform: translateY(-20px);
  
  animation: textAppear 2.0s ease forwards;
}