$bg-color: rgb(16, 33, 52);
$text-color: #000000;

body.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: $bg-color;
  color: $text-color;
}

.body {
  font-size: 16px;
  font-family: monospace;
  color: rgb(0, 0, 0);
}

/*.buttonBASE {
  cursor: pointer;
  font-size: 56px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 50px;
  margin-left: 30px;
}

.buttonBASE::after {
  content: '';
  position:absolute;
  top: 110px;
  left: 40px;
  width: 210px;
  height: 6px;
  background-color: rgb(155, 193, 236);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.buttonBASE:active::after {
  transform:scaleX(1);
}

.buttonSPEC {
  cursor: pointer;
  font-size: 56px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonSPEC::after {
  content: '';
  position:absolute;
  top: 110px;
  left: 300px;
  width: 260px;
  height: 6px;
  background-color: rgb(155, 193, 236);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.buttonSPEC:active::after {
  transform:scaleX(1);
}

/* Контейнер для выравнивания */
.search-container {
  position:absolute;
  top: 60px;
  right: 70px;
}

/* Стилизация самого поля ввода */
.search-input {
  padding: 10px 15px;
  width: 300px;
  border: 2px solid #ccc;
  /* Рамка */
  border-radius: 20px 0 0 20px;
  /* Скругление слева */
  outline: none;
  /* Убрать стандартную обводку */
  font-size: 16px;
  transition: all 0.3s;
}

/* Эффект при фокусе */
.search-input:focus {
    background-color: rgb(236, 236, 236);
  /* Цвет при клике */;
}

/* Стилизация кнопки */
.search-button {
  padding: 10px 20px;
  background-color: #000000;
  /* Цвет фона */
  color: white;
  border: none;
  border-radius: 0 2px 20px 0;
  /* Скругление справа */
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #818181;
  /* Цвет при наведении */;
}

.bottom-right {
  position:absolute;
  top:200px;
  right: 210px;
  border: #fdffec;
}

.myCustomLink {
  position:relative;
  top: 600px;
  left: 300px;
  color: #ffffff; // Укажите желаемый цвет текста
  font-size: 52px; // Измените размер шрифта
  text-decoration: none; // Убираем подчеркивание
  font-family: Georgia, 'Times New Roman', Times, serif;

  &:hover {
    color: #ffffff; // Цвет при наведении (опционально)
    //text-decoration: underline; 
  }
}

.myCustomLink1 {
  position:relative;
  top: 540px;
  left: 1000px;
  color: #ffffff; // Укажите желаемый цвет текста
  font-size: 52px; // Измените размер шрифта
  text-decoration: none; // Убираем подчеркивание
  font-family: Georgia, 'Times New Roman', Times, serif;

  &:hover {
    color: #ffffff; // Цвет при наведении (опционально)
    //text-decoration: underline; 
  }
}

.header {
  position: absolute;
  top: 0px;
  right: 0px;
}


.bubbleBottom {
  top: 100px;
  corner-left-shape: 500px;
} //для

.bubbleTop {
  top: 1px;
  right: auto;
}